.gray {
    background-color: #f4f4f4;
}


.section {
    display: block;
    padding: 70px 0;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1450px){
.container {
    width: 1100px;
}
}

@media screen and (max-width: 1300px){
.container {
    width: 1000px;
}
}

@media screen and (max-width: 1040px){
.container {
    width: 900px;
}
}

@media screen and (max-width: 930px){
.container {
    width: 800px;
}
}

@media screen and (max-width: 830px){
.container {
    width: 650px;
}
}

@media screen and (max-width: 690px){
.container {
    width: 550px;
}
}

@media screen and (max-width: 530px){
.container, .zayavka-otzyv {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
}


.static-info_heading {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.static-info p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 24px;
    font-size: 14px;
}
p, figure, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.static-info img{
    width: 300px;
    height: auto;
}